@*
    /**
     * _Layout.cshtm / レイアウトページ
     *
     * DateCreated:
     *  2016-10-08 Kanage.Tatsuya
     *
     * DateModified:
     *
     *
     * Copyright (C) 2016 dev-kanage. All rights reserved.
     */
*@

@using System.Configuration
@{ 
    Layout = null;
    var applicationName = (string)ConfigurationManager.AppSettings["ApplicationName"];
    var actionName = (string)ViewContext.RouteData.Values["action"];
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | @(applicationName)</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/custom_css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="@(actionName)">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="wrap">
                    <div class="main">
                        <div class="headerLogo">
                            <a href="@Url.Action("Login", "Account")">
                                <img src="~/Content/img/logo_header_main.png" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("ホーム", "Index", "Home")</li>
                    <li>@Html.ActionLink("詳細", "About", "Home")</li>
                    <li>@Html.ActionLink("連絡先", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <div id="pageTop">
            <div class="pageTopInner">
                <a class="keepClickable" href="#wrap">
                    <img src="~/Content/img/icn_page_top.png" />
                </a>
            </div>
        </div>
        <hr />
        <footer>
            <p class="copy"><small>Copyright &copy; @DateTime.Now.Year dev-kanage. All rights reserved.</small></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
